<p>Local Time: {{ localTime }}</p>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Client Name</th>
    <th>IP:Port</th>
    <th>Last Ping</th>
    <th>TX (MB)</th>
    <th>RX (MB)</th>
    <th>IPs</th>
  </tr>
  </thead>
  <tbody>
    @for (data of (datas$ | async); track data.client; let i = $index) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ data.client }}</td>
        <td>{{ data.stat.endpoint }}</td>
        <td>{{ data.stat.latestHandshake ? convertIsoToDate(data.stat.latestHandshake) : null }}</td>
        <td>{{ data.stat.transferTx / 1024 / 1024 | number }}</td>
        <td>{{ data.stat.transferRx / 1024 / 1024 | number }}</td>
        <td>{{ data.stat.allowedIps.join(", ") }}</td>
      </tr>
    }
  <tr>
  </tr>
  </tbody>
</table>
